body { background-color: #c6c3c6; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #000; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#ErrorExplanation {
  width: 400px;
	border: 2px solid #red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#ErrorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#ErrorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#ErrorExplanation ul li {
	font-size: 12px;
	list-style: square;
}

.notice {
	color: red;
	background-color: white;
}


h1 {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   14pt;
  font-weight: bold;
}

table {
  background-color:#e7e7e7;
  border: outset 1px; 
               border-collapse: separate;
               border-spacing: 1px;
}

td { border: inset 1px; }
.lt_gray { background-color: #e7e7e7; }
.dk_gray { background-color: #d6d7d6; }
.hightlight_gray { background-color: #4a9284; }
.past_due { color: red; font-weight: bold; }